@import "tailwindcss";

:root {
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Font size 18px */
  --font-base: 1.125rem;
  --font-sans: --font-dm-sans;

  /* Colors */
  --color-purple-100: hsl(254, 88%, 90%);
  --color-purple-500: hsl(256, 67%, 59%);
  --color-yellow-100: hsl(31, 66%, 93%);
  --color-yellow-500: hsl(39, 100%, 71%);
}

* {
  /* @apply outline-1 outline-blue-500; */
}

body {
  background: var(--color-gray-50);
  color: var(--foreground);
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
  font-size: var(--font-base);
}
